venv
.history
.pytest_cache
__pycache__
*.pyc
*.pyo
*.icloud
.DS_Store
.coverage
.ipynb_checkpoints
*.out
Untitled*.ipynb
Local*.ipynb
~$*

.tox
.vscode
.idea
.venv
.env

build/
dist/
*.egg-info/

Documentation/autodocs/_html/


