*.xlsm filter=lfs diff=lfs merge=lfs -text
solution/silvopasture/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/bamboo/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/afforestation/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/farmlandrestoration/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/managedgrazing/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/tropicaltreestaples/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/temperateforests/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/multistrataagroforestry/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/mangroverestoration/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/improvedrice/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/regenerativeagriculture/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/riceintensification/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/grasslandprotection/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/peatlands/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/indigenouspeoplesland/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/treeintercropping/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/mangroverestoration/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/conservationagriculture/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/forestprotection/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/airplanes/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/bikeinfrastructure/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/composting/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
solution/carpooling/testdata/*.zip filter=lfs diff=lfs merge=lfs -text
