version: '3'

services:
  web:
    restart: always
    build:
      context: .
    command: uvicorn api.service:app --reload --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL="http://localhost"
      - DATABASE_URL="postgresql://someuser:somepassword@someurl/drawdown"
      - API_URL="http://localhost:8000"
      - JWT_SECRET_KEY="somejwtsecretkey"
      - JWT_ALGORITHM="HS256"
      - GITHUB_DOMAIN="github.com"
      - GITHUB_CLIENT_ID="somegithubclientid"
      - GITHUB_CLIENT_SECRET="somegithubclientsecret"
      - GITHUB_USER_URL="https://api.github.com/user"
      - GOOGLE_DOMAIN="accounts.google.com"
      - GOOGLE_CLIENT_ID="somegoogleclientid"
      - GOOGLE_CLIENT_SECRET="somegoogleclientsecret" 

