[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
altair = "==4.1.0"
bqplot = "==0.12.18"
fair = "==1.6.1"
ipyvolume = "==0.5.2"
ipywidgets = "==7.5.1"
jsonschema = "==3.2.0"
jupyterlab = "==2.2.9"
matplotlib = "==3.3.2"
numpy = "==1.19.4"
pandas = "==1.1.4"
pytest = "==6.1.2"
pytest-cov = "==2.10.1"
qgrid = "==1.3.1"
scipy = "==1.5.3"
selenium = "==3.141.0"
xarray = "==0.16.1"
xlrd = "==1.2.0"
Pillow = "==8.0.1"
numpy-financial = "==1.0.0"
voila = "==0.2.4"
vega = "==3.4.0"
tox = "==3.20.1"
webdrivermanager = "==0.9.0"
bokeh = "==2.2.3"
mock = "==4.0.2"
Jinja2 = "==2.11.2"
appdirs = "==1.4.4"
argon2-cffi = "==20.1.0"
attrs = "==20.2.0"
backcall = "==0.2.0"
beautifulsoup4 = "==4.9.3"
bleach = "==3.2.1"
certifi = "==2020.6.20"
cffi = "==1.14.3"
chardet = "==3.0.4"
click = "==7.1.2"
coverage = "==5.3"
cryptography = "==3.2.1"
decorator = "==4.4.2"
defusedxml = "==0.6.0"
distlib = "==0.3.1"
entrypoints = "==0.3"
fastapi = "==0.61.1"
filelock = "==3.0.12"
h11 = "==0.11.0"
httpcore = "==0.12.2"
httpx = "==0.16.1"
idna = "==2.10"
iniconfig = "==1.1.1"
ipydatawidgets = "==4.1.0"
ipykernel = "==5.3.4"
ipython = "==7.19.0"
ipywebrtc = "==0.5.0"
jedi = "==0.17.2"
json5 = "==0.9.5"
jupyter = "==1.0.0"
jupyter-client = "==6.1.7"
jupyter-console = "==6.2.0"
jupyter-core = "==4.6.3"
jupyter-server = "==1.0.5"
jupyterlab-pygments = "==0.1.2"
jupyterlab-server = "==1.2.0"
jwt = "==1.1.0"
kiwisolver = "==1.3.1"
lxml = "==4.6.1"
mistune = "==0.8.4"
nbclient = "==0.5.1"
nbconvert = "==6.0.7"
nbformat = "==5.0.8"
nest-asyncio = "==1.4.2"
notebook = "==6.1.4"
pandocfilters = "==1.4.3"
parso = "==0.7.1"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
pluggy = "==0.13.1"
prometheus-client = "==0.8.0"
prompt-toolkit = "==3.0.8"
ptyprocess = "==0.6.0"
py = "==1.9.0"
pycparser = "==2.20"
pydantic = "==1.7.1"
pyparsing = "==2.4.7"
pyrsistent = "==0.17.3"
pytest-tornasync = "==0.6.0.post2"
python-dateutil = "==2.8.1"
python-dotenv = "==0.15.0"
pythreejs = "==2.2.1"
pytz = "==2020.4"
pyzmq = "==19.0.2"
qtconsole = "==4.7.7"
requests = "==2.24.0"
rfc3986 = "==1.4.0"
six = "==1.15.0"
sniffio = "==1.2.0"
soupsieve = "==2.0.1"
starlette = "==0.13.6"
terminado = "==0.9.1"
testpath = "==0.4.4"
toml = "==0.10.2"
toolz = "==0.11.1"
tornado = "==6.1"
tqdm = "==4.51.0"
traitlets = "==5.0.5"
traittypes = "==0.2.1"
typing-extensions = "==3.7.4.3"
urllib3 = "==1.25.11"
uvicorn = "==0.12.2"
virtualenv = "==20.1.0"
wcwidth = "==0.2.5"
webencodings = "==0.5.1"
widgetsnbextension = "==3.5.1"
async_generator = "==1.10"
Cycler = "==0.10.0"
ipython_genutils = "==0.2.0"
MarkupSafe = "==1.1.1"
Pygments = "==2.7.2"
PyJWT = "==1.7.1"
Send2Trash = "==1.5.0"
psycopg2-binary = "==2.8.6"
SQLAlchemy = "==1.3.20"
alembic = "==1.4.3"
PyYAML = "==5.3.1"
QtPy = "==1.9.0"
json-diff = "==1.5.0"
jsondiff = "==1.2.0"

[requires]
python_version = "3.8"
