altair==4.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
bokeh==2.2.3
bqplot==0.12.18
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
coverage==5.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
entrypoints==0.3
fair==1.6.1
fastapi==0.61.1
filelock==3.0.12
h11==0.11.0
idna==2.10
iniconfig==1.1.1
ipydatawidgets==4.1.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipywebrtc==0.5.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-server==1.0.5
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
kiwisolver==1.3.1
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mock==4.0.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
notebook==6.1.4
numpy==1.19.4
numpy-financial==1.0.0
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pkg-resources==0.0.0
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.9.0
pycparser==2.20
pydantic==1.7.1
Pygments==2.7.2
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.1.2
pytest-cov==2.10.1
pytest-tornasync==0.6.0.post2
python-dateutil==2.8.1
pythreejs==2.2.1
pytz==2020.4
PyYAML==5.3.1
pyzmq==19.0.2
qgrid==1.3.1
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
scipy==1.5.3
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
starlette==0.13.6
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
toolz==0.11.1
tornado==6.1
tox==3.20.1
tqdm==4.51.0
traitlets==5.0.5
traittypes==0.2.1
typing-extensions==3.7.4.3
urllib3==1.25.11
uvicorn==0.12.2
vega==3.4.0
virtualenv==20.1.0
voila==0.2.4
wcwidth==0.2.5
webdrivermanager==0.9.0
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray==0.16.1
xlrd==1.2.0
