version: "3"
services:
  {{ name }}:
    restart: "always"
    container_name: "{{ name }}"
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - "{{ app_container_port }}:{{ app_port }}"
    volumes:
      - "{{ app_folder }}:{{ app_container_folder }}"
    environment:
      - "DATABASE_URL={{ db_url }}"
      - API_URL="https://{{ url }}"
      - JWT_SECRET_KEY="{{ jwt_secrret_key }}"
      - JWT_ALGORITHM="{{ jwt_algorithm }}"
      - GITHUB_DOMAIN="{{ gh_domain }}"
      - GITHUB_CLIENT_ID="{{ gh_client_id }}"
      - GITHUB_CLIENT_SECRET="{{ gh_client_secret }}"
      - GITHUB_USER_URL="{{ gh_user_url }}"
      - GOOGLE_DOMAIN="{{ ggl_domain }}"
      - GOOGLE_CLIENT_ID="{{ ggl_client_id }}"
      - GOOGLE_CLIENT_SECRET="{{ ggl_client_secret }}" 
