DATABASE_URL=postgresql://postgres:postgres@localhost/drawdown
API_URL=http://localhost:8000
JWT_SECRET_KEY=somejwtsecretkey
JWT_ALGORITHM=HS256
GITHUB_DOMAIN=github.com
GITHUB_CLIENT_ID=somegithubclientid
GITHUB_CLIENT_SECRET=somegithubclientsecret
GITHUB_USER_URL=https://api.github.com/user
GOOGLE_DOMAIN=accounts.google.com
GOOGLE_CLIENT_ID=somegoogleclientid
GOOGLE_CLIENT_SECRET=somegoogleclientsecret
REDIS_URL=redis://localhost
MAX_WORKERS=4
CLIENT_URL=http://localhost:3000
AUTH_REDIRECT_URL=http://localhost:3000
INPUT_LOGS=false

