name: Drawdown Solutions Python application

on:
  push:
    branches:
    - '**'
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
          lfs: true
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Test with tox
      run: |
        pip install tox
        tox -e ci
    - name: pylint
      run: |
        tox -e lint
    - name: Jupyter Smoketest
      run: |
        tox -e smoke
    - name: Export to codecov.io
      uses: codecov/codecov-action@v1.0.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: ./coverage.xml
      env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
      if: env.CODECOV_TOKEN != ''
